<table>
  <tr>
    <th> User </th>
    <th> Picture </th>
  </tr>
  <% @friends.each do |friend| %>
    <tr>
      <td> <%= friend.name %></td>
      <td> Picture Here </td>
    </tr>
  <% end %>
</table>