<table style="width: 100%">
  <tr>
    <th></th>
    <th></th>
  </tr>
  <% @friends.each do |friend| %>
    <tr>
      <td style="width: 50%;"> <%= friend.name %></td>
      <td> Picture Here </td>
    </tr>
  <% end %>
</table>