<table>
  <tr>
    <th style="width: 75%;"> User </th>
    <th></th>
  </tr>
  <% @friends.each do |friend| %>
    <tr>
      <td style="width: 75%;"> <%= friend.name %></td>
      <td> Picture Here </td>
    </tr>
  <% end %>
</table>