<table style="table-layout: fixed; width: 100%">
  <tr>
    <th></th>
    <th style="width: 52%; text-align: left"> Time </th>
  </tr>
  <% if !@board_times.nil? %>
    <% @board_times.each do |time| %>
      <tr>
        <td style="width: 87%;"> <%= User.find(time.user_id).name %></td>
        <td> <%= time.time/60 %>:<%= sprintf('%02d', time.time%60) %> </td>
      </tr>
    <% end %>
  <% end %>
</table>