<div class="container-fluid span12" style="background-color: blue;" >
<div class="row-fluid">
    <div class="span2" style="background-color: red; height: 80%;">
      <!--Sidebar content-->
    </div>
    <div class="span10" style="background-color: orange; height: 50%;">
      <!--Body content-->
    </div>
  </div>
</div>