<% if @correct == true %>
    <h2 style="color: red">Great job!</h2>
    <%= link_to 'Next Challenge', challenges_output_play_path, :class => "btn btn-primary"%>
    <% elsif @correct == false %>
    <h2 style="color: red" id="result_msg">Not Quite. Try again.</h2>
<% end %>