<div class="container-fluid span12" id="landing-container">

    <div class="span10" id="landing-title">

      <span style="position: absolute;top: 40%;width: 100%;right: 0%">Regex Challenge</span>
    </div>
    <div class="span4 offset6" style="height: 50%; margin-top: 5%">
      <%= link_to image_tag("github-ruby.png"), 'auth/github', :width => '400px' %>
    </div>
</div>