<div class="container-fluid span12" id="landing-container">
  <!-- <div class="row-fluid"> -->

    <div class="span10 offset3" id="landing-title" style="height: 20%; font-size: 600%; text-align: center">
      Regex Challenge
    </div>
  <!-- </div> -->
  <!-- <div class="row-fluid"> -->
    <div class="span4 offset5" style="height: 50%; vertical-align: middle;">
      <%= link_to image_tag("github-ruby.png"), 'auth/github', :width => '400px' %>
    </div>
  <!-- </div> -->
</div>