/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-responsive.css
 *= require bootstrap.css
 *= require jquery.countdown.css
 *= require site.css.scss
 *= require_self
 */

html, body{
height: 100%;
margin: 0;
padding: 0;
}

.container-fluid {
height: 100%;
margin-top: 4%;
}

.row-fluid {
height: 100%;
}

tr:nth-child(odd) {
background-color: #ffad33;
}

.page-title{
  text-align: center;
  color: orange;
}

.display-field{
  border:2px solid;
  float: left;
  height: 2em;
  font-size: 20px;
  background-color: #E2E9E7;
}

/*#input-field{
  font-size: 20px;
  border:2px solid;
}*/

.timer-title {
  float: left;
  position: relative;
  bottom: 11px;
}

.timer {
   position: relative;
   left: 1%;
}

.arena-title {
  text-align: center;
  color: orange;
  margin: 0;
  line-height: 0;
}

.leader-board-title{
  text-align: center;
  color: orange;
  margin: 0;
  line-height: 0;
  float: left;
  clear: left;
  margin-top: 8%;
}

.leader-board {
  height: 200px;
  border: 2px solid;
  clear:both;
  margin-bottom: 3%;
  background-color: #E2E9E7;
}

.arena-button {
  display: inline-block;
  float: left;
  margin-left: 1%;
}
.update-button {
  display: inline-block;
  float: left;
  clear: left;
}


