// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing-container {
  background: url("regex.jpg") center center fixed;
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0%;
 }

#landing-title{
  float: none;
  postion: absolute;
  display: inline-block;
  top-margin: 40%;
  background-color: aqua;
  font-size: 600%;
  text-align: center;
  height: 20%;
  margin-left: 20%;
  margin-top: 5%
}