// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing-container {
  background: url("regex.jpg") center center fixed;
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0;
 }